body{
    background: #000000;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('myLandscape.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#app{
    display: flex;
    flex-direction: column;
    background: #000000c9;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: clamp(300px, 50%, 650px);
    height: clamp(480px, 60%, 650px);
    border-radius: 50px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.4rem;
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.939);
    min-width: 40%;
    min-height: 20%;
    max-width: 100%;
    max-height: 50%;
    padding: 3px;
    border-style: solid;
    border-radius: 50px;
    border-width: 12px;
    border-color: rgba(0, 0, 34, 0.5);
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    color: yellow;
}

#content{
    box-sizing: inherit;
}

.headline {
    font-size: clamp(1.6rem, 3vw, 3rem);
    color: white;
    padding: 10px;
    background-color: #5e5a01c9;
    border-radius: 25px;
}
.title{
    display: flex;
    flex-direction: row;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.change__country__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(0.75rem, 1vw, 1.2rem);
}

#new__country {
    color: #ffffff;
    display: none;
}

#change__btn {
    display: none;
    font-size: smaller;
}

#change__country__btn{
    font-size: smaller;
    display: block;
}

.country__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#country__name {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.myInput {
    width: 100%;
    height: 100%;
    font-size: clamp(0.7rem, 1.1vw, 1.2rem);
    color: #ffffff;
}

#weather__icon {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#generate{
    width: 40%;
    height: 60%;
    font-size: clamp(0.7rem, 1vw, 1.5rem);
}

.feel.holder {
    width: 60%;
}

#date {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#temp {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Basic Styling To Override Default For Basic HTML Elements */
button {
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);;
    padding: 5px 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

label{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

input{
    background: #000000da;
    font-size: clamp(0.7rem, 1.1vw, 1rem);
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 90%;
    outline: none;
    transition: all 0.3s ease-in-out;
}

textarea{
    resize: none;
    background: #000000da;
    font-size: clamp(0.7rem, 1.1vw, 1rem);
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    width: calc(100% + 10px);
    outline: none;
    transition: all 0.3s ease-in-out;
}

/* Reset style for HTML element on active*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    background-color: #010051e0;
    outline: none;
}

button:hover {
    background-color: #002f14e0;
}
